
@font-face {
  font-family: 'IvyEpic';
  src: url('/fonts/IvyEpic_Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'IvyEpic';
  src: url('/fonts/IvyEpic_Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'IvyEpic';
  src: url('/fonts/IvyEpic_Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}
